* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 0;
}
label {
  display: block;
  margin-bottom: 10px;
}
textarea {
  width: 100%;
  display: block;
  min-height: 200px;
  font-size: 1rem;
}
input {
  font-size: 1rem;
  display: block;
  max-width: 100%;
}
.ds-body-left, .ds-body-center, .ds-body-right {

}
.ds-input {
  padding: 10px;
}
.ds-top-wrap .ds-input input[type="text"] {
  display: block;
  width: 100%;
}
.ds-top-wrap {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 60px;
}
.ds-top-right {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
.ds-body-wrap {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
.ds-stats {
  border: 2px solid #ccc;
  margin-top: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.ds-body-center {
  display: grid;
  grid-row-gap: 40px;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-auto-rows: min-content;
}
.ds-input__armor-class {
  grid-column: 1 ;
  grid-row: 1 ;
}
.ds-input__initiative{
  grid-column: 2 ;
  grid-row: 1 ;
}
.ds-input__speed{
  grid-column: 3 ;
  grid-row: 1 ;
}
.ds-input__HP {
  grid-column: 1/4;
  grid-row: 2 ;
}
.ds-input__THP {
  grid-column: 1/4;
  grid-row: 3 ;
}
.ds-input__death-saves {
  grid-row: 4;
  grid-column: 2/4;
}
.ds-attacks-spellcasting {
  grid-row: 5;
  grid-column: 1/4;
}
.ds-bottom {
  display: grid;
  grid-template-columns: 33.3% 66.66%;
}
